<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
  xmlns:set="http://www.sitecore.net/xmlconfig/set/" 
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <!--
        JSS Site Registration
        This configures the site with Sitecore - i.e. host headers, item paths.
        If your JSS app lives within an existing Sitecore site, this may not be necessary.

        IMPORTANT: JSS sites ship in 'live mode', which makes development and testing easy,
        but disables workflow and publishing. Before going to production, change the `database`
        below to `web` instead of `master`.
      -->
      <site patch:before="site[@name='website']" 
        inherits="website" 
        name="jss-nuxt-test" 
        rootPath="/sitecore/content/jss-nuxt-test" 
        startItem="/home" 
        database="master" />
    </sites>
    <javaScriptServices>
      <apps>
        <app name="jss-nuxt-test" 
          deploymentSecret="YOUR DEPLOYMENT SECRET" 
          debugSecurity="false" 
          sitecorePath="/sitecore/content/jss-nuxt-test" 
          inherits="defaults" 
          useLanguageSpecificLayout="true" 
          serverBundle="index" 
          serverSideRenderingFunctionName="renderView" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
